<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, viewport-fit=cover"
    />
    <title>Mall</title>
    <link
      rel="stylesheet"
      href="https://unpkg.com/vant@4.9.6/lib/index.css"
    />
    <style>
      :root:root {
        --van-card-price-color: var(--van-submit-bar-price-color);
        --van-card-background: #fff;
      }
      body {
        height: 100%;
        font-size: 12px;
        background-color: var(--van-gray-1);
      }
      .product-swipe img {
        width: 100%;
        display: block;
      }
      .divider {
        border-color: #000;
        width: 200px;
        margin: 0 auto;
      }
      .category-grid-item .van-grid-item__content {
        background-color: transparent;
      }
      .sort-bar .van-dropdown-menu__bar {
        box-shadow: none;
      }
      .sort-bar {
        display: flex;
      }
      .sort-bar .sort-icon {
        min-width: var(--van-action-bar-icon-width);
        color: var(--van-action-bar-icon-text-color);
        font-size: var(--van-action-bar-icon-font-size);
        text-align: center;
        background: var(--van-action-bar-icon-background);
        cursor: pointer;
        font-size: 18px;
        line-height: var(--van-dropdown-menu-height);
      }
      .sort-bar .sort-icon:active {
        background-color: var(--van-action-bar-icon-active-color);
      }
      .product-card {
        margin: 10px;
        border-radius: 10px;
        background-color: var(--van-card-background);
        overflow: hidden;
      }
      .pt-20 {
        padding-top: 20px;
      }
      .product-grid img {
        aspect-ratio: 1 / 1;
      }
      .product-grid .van-grid-item__content {
        padding: 0;
      }
    </style>
  </head>

  <body>
    <!-- 商品分类页 START -->
    <template id="categoryListPage">
      <van-sticky :offset-top="46">
        <van-search
          placeholder="请输入搜索内容"
          @focus="toSearch"
        ></van-search>
      </van-sticky>
      <div class="pt-20">
        <van-pull-refresh
          v-model="refreshing"
          @refresh="onRefresh"
        >
          <van-space
            direction="vertical"
            :size="20"
          >
            <div
              v-for="(categoryGroup, index) in categoryGroupList"
              :key="index"
            >
              <van-divider class="divider">{{ categoryGroup.name }}</van-divider>
              <van-grid
                :border="false"
                clickable
              >
                <van-grid-item
                  v-for="category in categoryGroup.childrens"
                  :to="`/products?categoryId=${category.id}`"
                  class="category-grid-item"
                >
                  <van-image
                    round
                    lazy-load
                    :src="category.thumb"
                    :width="60"
                    :height="60"
                  ></van-image>
                  <van-text-ellipsis :content="category.name"></van-text-ellipsis>
                </van-grid-item>
              </van-grid>
            </div>
          </van-space>
        </van-pull-refresh>
      </div>
    </template>
    <!-- 商品分类页 END -->



    <!-- 商品列表页 START -->
    <template id="productListPage">
      <van-sticky :offset-top="46">
        <van-search
          v-model="keyword"
          placeholder="请输入搜索内容"
          @focus="toSearch"
        ></van-search>
      </van-sticky>
      <van-empty
        v-if="!loading && finished && productList.length == 0"
        image="search"
        description="暂无商品"
      >
      </van-empty>
      <template v-else>
        <van-sticky :offset-top="100">
          <div class="sort-bar">
            <van-dropdown-menu style="flex: 1 1 0;">
              <van-dropdown-item
                :model-value="sort"
                :options="sortOptions"
                @update:model-value="(value) => changeSort(value)"
              ></van-dropdown-item>
            </van-dropdown-menu>
            <div class="sort-icon" @click="toggleDisplayStyle">
              <van-icon
                v-if="displayStyle == 'list'"
                name="list-switch"
              ></van-icon>
              <van-icon
                v-else
                name="list-switching"
              ></van-icon>
            </div>
          </div>
        </van-sticky>
        <van-pull-refresh
          v-model="refreshing"
          @refresh="onRefresh"
        >
          <van-list
            v-model:loading="loading"
            :finished="finished"
            :immediate-check="false"
            finished-text="没有更多了"
            @load="onLoad"
          >
            <template v-if="displayStyle === 'list'">
              <van-card
                v-for="(product, index) in productList"
                :key="index"
                class="product-card"
                :title="product.title"
                :desc="product.sub_title"
                :price="Number(product.price * 0.3).toFixed(2)"
                :origin-price="Number(product.price).toFixed(2)"
                :thumb="product.thumb"
                :tag="product.stock == 0 ? '售罄' : ''"
                @click="$router.push(`/products/${product.id}`)"
              >
                <template #bottom>
                  <div style="color: var(--van-card-desc-color);">已售 {{ product.sales_count }}</div>
                </template>
                <template #num>
                  <van-button
                  type="danger"
                  size="mini"
                  icon="cart-o"
                  round
                  @click.stop="addCart(product.id)"
                ></van-button>
                </template>
              </van-card>
            </template>
            <template v-else>
              <van-grid
                :border="false"
                :column-num="2"
                :gutter="10"
                clickable
                style="margin-top: 10px;"
                class="product-grid"
              >
                <van-grid-item
                  v-for="(product, index) in productList"
                  :key="index"
                  :to="`/products/${product.id}`"
                >
                  <van-image
                    lazy-load
                    :src="product.thumb"
                    fit="cover"
                  ></van-image>
                  <div style="width: 100%; padding: 10px; box-sizing: border-box;">
                    <div style="font-size: 16px;">
                      <van-text-ellipsis :content="product.title"></van-text-ellipsis>
                    </div>
                    <div>
                      <span style="color: var(--van-card-price-color);">
                        ¥ <span style="font-size: 16px;">{{ Number(product.price * 0.3).toFixed(2) }}</span>
                      </span>
                      <span class="van-card__origin-price">{{ Number(product.price).toFixed(2) }}</span>
                    </div>
                  </div>
                </van-grid-item>
              </van-grid>
            </template>
          </van-list>
        </van-pull-refresh>
      </template>
      <product-spec-picker
        v-model:show="showSpecPicker"
        :product="currentRecord.product"
        :default-item-ids="currentRecord.selectedItemIds"
        :default-quantity="currentRecord.quantity"
        button-text="加入购物车"
        @select="selectProductSpec"
      ></product-spec-picker>
    </template>
    <!-- 商品列表页 END -->



    <!-- 搜索页 START -->
    <template id="searchPage">
      <van-sticky :offset-top="46">
        <van-search
          v-model="currentKeyword"
          placeholder="请输入搜索内容"
          ref="search"
          @search="searchHistoryKeyword"
        ></van-search>
      </van-sticky>
      <div style="height: calc(100vh - 100px); background-color: #fff;">
        <div
          v-if="historyKeywords.length > 0"
          style="padding: 10px;"
        >
          <van-row style="margin-bottom: 10px;">
            <van-col span="12">
              <span style="font-size: var(--van-font-size-lg); font-weight: var(--van-font-bold);">搜索历史</span>
            </van-col>
            <van-col
              span="12"
              style="text-align: right;"
            >
              <div v-if="deleting">
                <span
                  style="color: var(--van-red);"
                  @click="deleteAllHistoryKeywords"
                >
                  清空
                </span>
                <van-divider vertical></van-divider>
                <span @click="deleting = false">完成</span>
              </div>
              <span
                v-else
                @click="deleting = true"
              >
                管理
              </span>
            </van-col>
          </van-row>
          <van-space>
            <van-tag
              v-for="historyKeyword in historyKeywords"
              :key="historyKeyword"
              :closeable="deleting"
              size="large"
              style="background-color: var(--van-gray-2); color: #666;"
              @click="deleting ? deleteHistoryKeyword(historyKeyword) : searchHistoryKeyword(historyKeyword)"
              @close="deleteHistoryKeyword(historyKeyword)"
            >
              {{ historyKeyword }}
            </van-tag>
          </van-space>
        </div>
      </div>
    </template>
    <!-- 搜索页 END -->



    <!-- 商品详情页 START -->
    <template id="productDetailPage">
      <van-space
        direction="vertical"
        style="width: 100%; padding-bottom: 65px;"
        :size="16"
      >
        <van-swipe
          class="product-swipe"
          :autoplay="3000"
        >
          <van-swipe-item
            v-for="(thumb, index) in product.thumbs"
            :key="index"
            @click="previewImage(index)"
          >
            <img :src="thumb" />
          </van-swipe-item>
        </van-swipe>
        <van-cell-group inset>
          <van-cell>
            <template #title>
              <div>
                <span style="color: var(--van-card-price-color);">
                  ¥ <span style="font-size: 22px;">{{ Number(showPrice * 0.3).toFixed(2) }}</span>
                </span>
                <span class="van-card__origin-price">{{ Number(showPrice).toFixed(2) }}</span>
              </div>
              <div style="font-size: 18px; margin-top: 10px;">
                {{ product.title }}
              </div>
              <div
                v-if="!!product.sub_title"
                style="color: var(--van-card-desc-color); margin-top: 10px;"
              >
                {{ product.sub_title }}
              </div>
            </template>
          </van-cell>
          <van-cell>
            <template #title>
              <van-row>
                <van-col span="12">
                  销量：{{ product.sales_count }}
                </van-col>
                <van-col span="12" style="text-align: right;">
                  库存：{{ showStock }}
                </van-col>
              </van-row>
            </template>
          </van-cell>
        </van-cell-group>
        <van-cell-group inset>
          <van-cell
            :value="`共${optionCount}种规格可选`"
            is-link
            clickable
            @click="showSpecPicker = true"
          >
            <template #title>
              <template v-if="selectedOption">
                已选择 {{ selectedOption.title }} × {{ quantity }}
              </template>
              <template v-else>
                请选择
              </template>
            </template>
          </van-cell>
        </van-cell-group>
      </van-space>
      <van-notify
        :show="product.options.length > 0 && showStock == 0"
        type="warning"
        style="top: 46px;"
      >
        <span>已售罄</span>
      </van-notify>
      <van-action-bar>
        <van-action-bar-icon
          icon="cart-o"
          text="购物车"
          replace
          to="/cart"
          :badge="$store.getters.totalQuantity > 0 ? $store.getters.totalQuantity : ''"
        ></van-action-bar-icon>
        <van-action-bar-button
          type="danger"
          @click="showSpecPicker = true"
          :disabled="showStock == 0"
        >
          加入购物车
        </van-action-bar-button>
      </van-action-bar>
      <product-spec-picker
        v-model:show="showSpecPicker"
        :product="product"
        :default-item-ids="selectedItemIds"
        :default-quantity="quantity"
        button-text="加入购物车"
        @select="selectProductSpec"
      ></product-spec-picker>
    </template>
    <!-- 商品详情页 END -->



    <!-- 购物车页 START -->
    <template id="cartListPage">
      <van-empty v-if="cartList.length == 0">
        <template #description>
          <div style="text-align: center;">
            购物车为空
            <br />
            赶紧去逛逛，挑选心仪的商品吧
          </div>
        </template>
        <van-button
          plain
          type="danger"
          @click="$router.replace('/')"
        >
          去逛逛
        </van-button>
      </van-empty>
      <div
        v-else
        style="padding-bottom: 50px;"
      >
        <div style="text-align: right; margin: 10px;">
          <span
            v-if="deleting"
            @click="quitDeleting"
          >
            完成
          </span>
          <span
            v-else
            @click="enterDeleting"
          >
            编辑
          </span>
        </div>
        <template v-if="deleting">
          <div
            v-for="(cartRecord, index) in cartList"
            :key="index"
            class="product-card"
          >
            <van-checkbox
              :model-value="isSelectedDeleting(cartRecord.id)"
              @update:model-value="(selected) => toggleDeletingCheck(cartRecord.id, selected)"
              style="margin-left: 16px;"
            ></van-checkbox>
            <van-card
              :title="cartRecord.product.title"
              :price="Number(cartRecord.option.price * 0.3).toFixed(2)"
              :origin-price="Number(cartRecord.option.price).toFixed(2)"
              :thumb="cartRecord.product.thumb"
              lazy-load
              style="flex: 1 1 0; margin: 0;"
            >
              <template #tags>
                <van-tag
                  round
                  style="margin-top: 10px; padding: 3px 6px; background-color: var(--van-gray-2); color: #666;"
                >
                  {{ cartRecord.option.title }}
                </van-tag>
              </template>
            </van-card>
          </div>
          <van-submit-bar style="bottom: 50px;">
            <template #default>
              <van-checkbox
                :model-value="isDeletingCheckAll"
                @click="toggleDeletingCheckAll"
              >
                全选
              </van-checkbox>
              <div class="van-submit-bar__text"></div>
            </template>
            <template #button>
              <van-button
                round
                style="width: var(--van-submit-bar-button-width); height: var(--van-submit-bar-button-height); font-weight: var(--van-font-bold);"
                @click="deleteSelectedCartRecord"
              >
                删除
              </van-button>
            </template>
          </van-submit-bar>
        </template>
        <template v-else>
          <van-swipe-cell
            v-for="(cartRecord, index) in cartList"
            :key="index"
            class="product-card"
          >
            <div style="display: flex; border-radius: 10px;">
              <van-checkbox
                :model-value="cartRecord.selected"
                @update:model-value="(selected) => updateSelected(cartRecord.id, selected)"
                style="margin-left: 16px;"
              ></van-checkbox>
              <van-card
                :title="cartRecord.product.title"
                :price="Number(cartRecord.option.price * 0.3).toFixed(2)"
                :origin-price="Number(cartRecord.option.price).toFixed(2)"
                :thumb="cartRecord.product.thumb"
                @click="$router.push(`/products/${cartRecord.product.id}`)"
                lazy-load
                style="flex: 1 1 0; margin: 0;"
              >
                <template #tags>
                  <van-tag
                    round
                    style="margin-top: 10px; padding: 3px 6px; background-color: var(--van-gray-2); color: #666;"
                    @click.stop="editProductSpec(cartRecord)"
                  >
                    {{ cartRecord.option.title }}
                    <van-icon name="arrow-down"></van-icon>
                  </van-tag>
                </template>
                <template #num>
                  <van-stepper
                    :default-value="cartRecord.quantity"
                    @change="(value) => updateQuantity(cartRecord.id, value)"
                    :max="cartRecord.option.stock"
                    @click.stop
                  ></van-stepper>
                </template>
              </van-card>
            </div>
            <template #right>
              <van-button
                square
                text="删除"
                type="danger"
                @click="deleteCartRecord(cartRecord.id)"
                style="height: 100%;"
              ></van-button>
            </template>
          </van-swipe-cell>
          <van-submit-bar
            :price="$store.getters.totalSelectedPrice * 30"
            :button-text="`确认(${$store.getters.totalSelectedQuantity})`"
            style="bottom: 50px;"
            @submit="$router.push('/orderConfirm')"
          >
            <template #default>
              <van-checkbox
                :model-value="isCheckAll"
                @click="toggleCartCheckAll"
              >
                全选
              </van-checkbox>
            </template>
          </van-submit-bar>
        </template>
        <product-spec-picker
          v-model:show="showSpecPicker"
          :product="editingCartRecord.product"
          :default-item-ids="editingCartRecord.selectedItemIds"
          :default-quantity="editingCartRecord.quantity"
          button-text="确认"
          @select="selectProductSpec"
        ></product-spec-picker>
      </div>
    </template>
    <!-- 购物车页 END -->



    <!-- 订单确认页 START -->
    <template id="orderConfirmPage">
      <div style="padding-bottom: 50px;">
        <van-card
          v-for="(cartRecord, index) in cartList"
          :key="index"
          class="product-card"
          :title="cartRecord.product.title"
          :price="Number(cartRecord.option.price * 0.3).toFixed(2)"
          :origin-price="Number(cartRecord.option.price).toFixed(2)"
          :thumb="cartRecord.product.thumb"
          lazy-load
        >
          <template #tags>
            <van-tag
              round
              style="margin-top: 10px; padding: 3px 6px; background-color: var(--van-gray-2); color: #666;"
            >
              {{ cartRecord.option.title }}
            </van-tag>
          </template>
        </van-card>
        <van-submit-bar
          :price="$store.getters.totalSelectedPrice * 30"
          :button-text="`生成清单(${$store.getters.totalSelectedQuantity})`"
          @submit="exportOrder"
        >
        </van-submit-bar>
      </div>
    </template>
    <!-- 订单确认页 END -->



    <!-- 商品规格选择器组件 START -->
    <template id="productSpecPickerComponent">
      <van-popup
        :show="show"
        :style="{ height: '80%' }"
        closeable
        position="bottom"
        @close="onClose"
      >
        <div style="height: 100%; overflow-y: auto; padding: 20px 10px 70px 10px; box-sizing: border-box;">
          <van-space
            direction="vertical"
            style="width: 100%;"
            :size="20"
          >
            <div style="display: flex;">
              <van-image
                width="100"
                height="100"
                radius="10"
                :src="product.thumb"
              ></van-image>
              <div style="margin-left: 15px;">
                <div>
                  <span style="color: var(--van-card-price-color);">
                    ¥ <span style="font-size: var(--van-font-size-lg);">{{ Number(filteredOptionPrice * 0.3).toFixed(2) }}</span>
                  </span>
                  <span class="van-card__origin-price">{{ Number(filteredOptionPrice).toFixed(2) }}</span>
                </div>
                <div style="color: var(--van-card-desc-color); margin-top: 15px; margin-bottom: 15px;">
                  库存 {{ filteredOptionStock }} 件
                </div>
                <van-stepper
                  v-model="quantity"
                  :max="filteredOptionStock"
                ></van-stepper>
              </div>
            </div>
            <template v-for="(spec, index) in product.specs" :key="index">
              <div>
                <div style="margin-bottom: 10px; font-weight: var(--van-font-bold);">{{ spec.title }}</div>
                <van-space wrap>
                  <van-tag
                    v-for="item in spec.items"
                    type="danger"
                    size="large"
                    round
                    :plain="isSelectedItemId(item.id)"
                    style="padding: 6px 12px; cursor: pointer;"
                    :style="isDisabledItemId(item.id)
                      ? { backgroundColor: 'var(--van-gray-2)', color: '#ccc' }
                      : (isSelectedItemId(item.id) ? { backgroundColor: '#ffe1e1' } : { backgroundColor: 'var(--van-gray-2)', color: '#666' })"
                    @click="toggleSelectItemId(item.id)"
                  >
                    {{ item.title }}
                  </van-tag>
                </van-space>
              </div>
            </template>
          </van-space>
        </div>
        <van-action-bar>
          <van-action-bar-button
            type="danger"
            @click="onConfirm"
          >
            {{ buttonText }}
          </van-action-bar-button>
        </van-action-bar>
      </van-popup>
    </template>
    <!-- 商品规格选择器组件 END -->



    <div id="app">
      <div
        id="container"
        :style="{
          paddingBottom: $route.meta.showTabBar ? '60px' : '0',
          boxSizing: 'border-box'
        }"
      >
        <van-sticky>
          <van-nav-bar
            v-if="!!$route.meta.pageTitle"
            :title="$route.meta.pageTitle"
            :left-arrow="$route.meta.pageBack"
            @click-left="backPage"
          ></van-nav-bar>
        </van-sticky>
        <router-view v-slot="{ Component }">
          <keep-alive>
            <component :is="Component" />
          </keep-alive>
        </router-view>
      </div>
      <van-tabbar
        v-if="$route.meta.showTabBar"
        route
      >
        <van-tabbar-item
          replace
          to="/"
          name="home"
          icon="home-o"
        >
          首页
        </van-tabbar-item>
        <van-tabbar-item
          replace
          to="/cart"
          name="cart"
          icon="cart-o"
          :badge="$store.getters.totalQuantity > 0 ? $store.getters.totalQuantity : ''"
        >
          购物车
        </van-tabbar-item>
      </van-tabbar>
      <van-back-top
        v-if="$route.meta.showBackTop"
        bottom="80"
      ></van-back-top>
    </div>

    <script src="https://unpkg.com/axios@1.7.7/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue@3.5.6/dist/vue.global.js"></script>
    <script src="https://unpkg.com/vant@4.9.6/lib/vant.min.js"></script>
    <script src="https://unpkg.com/vue-router@4.4.5/dist/vue-router.global.js"></script>
    <script src="https://unpkg.com/vuex@4.1.0/dist/vuex.global.js"></script>
    <script src="https://unpkg.com/lodash@4.17.21/lodash.js"></script>
    <script src="https://unpkg.com/exceljs@4.4.0/dist/exceljs.min.js"></script>
    <script src="https://unpkg.com/file-saver@2.0.5/dist/FileSaver.min.js"></script>
    <script>
      const request = axios.create({
        baseURL: 'https://cs.sdxpos.com/shop/client/goods',
        headers: {
          'session-id': 123,
          'client-type': 'wxapp',
          'shop-id': 1162,
        }
      });
      const util = {
        convertProduct(rawProduct) {
          return {
            id: Number(rawProduct.id),
            title: rawProduct.title,
            sub_title: rawProduct.sub_title,
            thumb: rawProduct.thumb,
            thumbs: rawProduct.thumbs,
            sales_count: Number(rawProduct.sales_count),
            specs: _.map(rawProduct.specs, spec => ({
              id: Number(spec.id),
              title: spec.title,
              items: _.map(spec.items, item => ({
                id: Number(item.id),
                title: item.title,
              }))
            })),
            options: _.map(_.values(rawProduct.options), option => {
              return {
                id: Number(option.id),
                stock: Number(option.stock),
                price: Number(option.price),
                item_ids: _.map(_.sortBy(option.specs.split(',')), itemId => Number(itemId)),
                title: option.option_title.join(','),
              };
            })
          };
        },
        getOptionByItemIds(options, itemIds) {
          return _.find(options, option => _.isEqual(_.sortBy(option.item_ids), _.sortBy(itemIds)));
        }
      };



      // 商品分类页
      const categoryListPage = {
        template: '#categoryListPage',
        data() {
          return {
            refreshing: false,
            categoryGroupList: []
          }
        },
        created() {
          this.getCategoryList(); 
        },
        methods: {
          getCategoryList() {
            request.get('/category/list?child_shop_id=')
              .then(response => {
                this.refreshing = false;
                this.categoryGroupList = response.data.data;
              });
          },
          onRefresh() {
            this.getCategoryList();
          },
          toSearch() {
            this.$router.push(`/search`);
          }
        }
      };



      // 搜索页
      const searchPage = {
        template: '#searchPage',
        props: {
          keyword: {
            type: String,
            default: ''
          }
        },
        data() {
          const historyKeywords = JSON.parse(window.localStorage.getItem('historyKeywords'));
          return {
            historyKeywords: _.isArray(historyKeywords) ? historyKeywords : [],
            currentKeyword: '',
            deleting: false
          }
        },
        watch: {
          historyKeywords: {
            handler(value) {
              localStorage.setItem('historyKeywords', JSON.stringify(value));
            },
            deep: true
          }
        },
        mounted() {
          this.$watch(
            () => this.$route,
            (newValue) => {
              if (newValue.name !== 'search') {
                return;
              }
              this.$refs.search.focus();
              this.currentKeyword = this.keyword;
              this.$nextTick(() => {
                const searchInput = this.$refs.search.$el.querySelector('input');
                if (searchInput) {
                  searchInput.setSelectionRange(-1, -1);
                }
              })
            },
            { immediate: true }
          )
        },
        methods: {
          searchHistoryKeyword(value) {
            this.addHistoryKeyword(value);
            this.$router.replace(`/products?keyword=${value}`);
          },
          addHistoryKeyword(historyKeyword) {
            if (historyKeyword === '') {
              return;
            }
            this.historyKeywords = _.take(_.concat([historyKeyword], _.without(this.historyKeywords, historyKeyword)), 20);
          },
          deleteHistoryKeyword(historyKeyword) {
            if (historyKeyword === '') {
              return;
            }
            this.historyKeywords = _.without(this.historyKeywords, historyKeyword);
          },
          deleteAllHistoryKeywords() {
            this.historyKeywords = [];
            this.deleting = false;
          }
        }
      };



      // 商品列表页
      const productListPage = {
        template: '#productListPage',
        props: {
          categoryId: {
            type: Number,
            default: 0
          },
          keyword: {
            type: String,
            default: ''
          },
          sort: {
            type: Number,
            default: 0
          }
        },
        data() {
          return {
            refreshing: false,
            loading: false,
            finished: false,
            page: 1,
            productList: [],
            showSpecPicker: false,
            currentRecord: {
              product: {},
              quantity: 1,
              option_id: 0,
              option: {},
              selectedItemIds: []
            },
            sortOptions: [
              { text: '综合', value: 0 },
              { text: '销量', value: 1 },
              { text: '价格从高到低', value: 2 },
              { text: '价格从低到高', value: 3 },
            ]
          };
        },
        computed: {
          displayStyle() {
            return this.$store.state.displayStyle;
          }
        },
        created() {
          this.$watch(
            () => ({
              categoryId: this.categoryId,
              keyword: this.keyword,
              sort: this.sort
            }),
            (newValue, oldValue) => {
              this.refreshing = false;
              this.loading = true;
              this.finished = false;
              this.page = 1;
              this.productList = [];
              this.showSpecPicker = false;
              this.onLoad();
            },
            { immediate: true }
          );
        },
        methods: {
          onLoad() {
            const sortMap = {
              0: {sort: '', by: ''},
              1: {sort: 'sales_count', by: 'desc'},
              2: {sort: 'price', by: 'desc'},
              3: {sort: 'price', by: 'asc'},
            };
            const sort = sortMap[this.sort].sort;
            const by = sortMap[this.sort].by;
            const url = `/list?title=${this.keyword}&category_ids=${this.categoryId}&group_ids=&page=${this.page}&page_size=20&sort=${sort}&by=${by}&lat=&lng=&coupon_id=&dycoupon_id=&from_dycoupon_list=&activity_id=&child_shop_id=&type=&recommend=`;
            request.get(url)
              .then(response => {
                if (this.refreshing) {
                  this.refreshing = false;
                  this.productList = [];
                }
                this.productList = this.productList.concat(response.data.list);
                this.loading = false;
                if (this.page >= response.data.pageCount) {
                  this.finished = true;
                } else {
                  this.page++;
                }
              });
          },
          onRefresh() {
            this.finished = false;
            this.loading = true;
            this.page = 1;
            this.onLoad();
          },
          toSearch() {
            this.$router.replace({
              path: '/search',
              query: {
                keyword: this.keyword
              }
            });
          },
          changeSort(sortValue) {
            this.$router.replace({
              path: '/products',
              query: {
                categoryId: this.categoryId,
                keyword: this.keyword,
                sort: sortValue,
              }
            });
          },
          addCart(productId) {
            request.get(`/details-new?id=${productId}&activity_id=undefined`)
              .then(response => {
                this.showSpecPicker = true;
                this.currentRecord = {
                  product: util.convertProduct(response.data.data),
                  quantity: 1,
                  option_id: 0,
                  option: {},
                  selectedItemIds: []
                };
              });
          },
          selectProductSpec(itemIds, quantity, confirm) {
            if (!confirm) {
              return;
            }
            this.currentRecord.selectedItemIds = itemIds;
            this.currentRecord.quantity = quantity;
            if (this.currentRecord.selectedItemIds.length === 0 || this.currentRecord.selectedItemIds.length !== this.currentRecord.product.specs.length) {
              vant.showToast('请选择完整规格');
              return;
            }
            const selectedOption = util.getOptionByItemIds(this.currentRecord.product.options, this.currentRecord.selectedItemIds);
            if (this.currentRecord.quantity > selectedOption.stock) {
              vant.showToast('库存不足');
              return;
            }
            this.$store.dispatch('addCartRecord', {
              product: this.currentRecord.product,
              option_id: selectedOption.id,
              quantity: this.currentRecord.quantity
            });
            vant.showSuccessToast('加购成功');
          },
          toggleDisplayStyle() {
            this.$store.dispatch('toggleDisplayStyle');
          }
        }
      };



      // 商品详情页
      const productDetailPage = {
        template: '#productDetailPage',
        props: {
          productId: {
            type: Number,
            default: 0
          }
        },
        data() {
          return {
            loading: false,
            product: {
              id: 0,
              title: '',
              price: [0],
              min_price: '',
              max_price: '',
              thumbs: [],
              specs: [],
              options: []
            },
            quantity: 1,
            selectedItemIds: [],
            showSpecPicker: false
          };
        },
        created() {
          this.$watch(
            () => ({
              productId: this.productId
            }),
            (newValue) => {
              this.product = {
                id: 0,
                title: '',
                price: [0],
                min_price: '',
                max_price: '',
                thumbs: [],
                specs: [],
                options: []
              },
              this.quantity = 1;
              this.selectedItemIds = [];
              this.showSpecPicker = false;
              this.getProduct();
            },
            { immediate: true }
          );
        },
        computed: {
          optionCount() {
            return this.product.options.length;
          },
          showPrice() {
            return this.product.options.length === 0 ? 0 : _.min(_.map(this.product.options, 'price'));
          },
          showStock() {
            return this.product.options.length === 0 ? 0 : _.sum(_.map(this.product.options, 'stock'));
          },
          selectedOption() {
            return util.getOptionByItemIds(this.product.options, this.selectedItemIds);
          }
        },
        methods: {
          getProduct() {
            this.loading = true;
            request.get(`/details-new?id=${this.productId}&activity_id=undefined`)
              .then(response => {
                this.loading = false;
                this.product = util.convertProduct(response.data.data);
              });
          },
          previewImage(startPosition) {
            vant.showImagePreview({
              images: this.product.thumbs,
              startPosition: startPosition,
              closeable: true
            });
          },
          selectProductSpec(itemIds, quantity, confirm) {
            this.selectedItemIds = itemIds;
            this.quantity = quantity;
            if (confirm) {
              this.$store.dispatch('addCartRecord', {
                product: this.product,
                option_id: this.selectedOption.id,
                quantity: this.quantity
              });
              vant.showSuccessToast('加购成功');
            }
          }
        }
      };



      // 购物车页
      const cartListPage = {
        template: '#cartListPage',
        data() {
          return {
            deleting: false,
            deletingIds: [],
            showSpecPicker: false,
            editingCartRecord: {
              product: {},
              quantity: 1,
              option_id: 0,
              option: {},
              selectedItemIds: []
            },
          };
        },
        computed: {
          cartList() {
            return this.$store.getters.cartList;
          },
          isCheckAll() {
            return _.every(this.cartList, item => item.selected);
          },
          isDeletingCheckAll() {
            return _.isEqual(_.sortBy(this.deletingIds), _.sortBy(_.map(this.cartList, 'id')));
          }
        },
        methods: {
          enterDeleting() {
            this.deleting = true;
            this.deletingIds = [];
          },
          quitDeleting() {
            this.deleting = false;
          },
          isSelectedDeleting(id) {
            return _.includes(this.deletingIds, id);
          },
          toggleDeletingCheckAll() {
            this.deletingIds = this.isDeletingCheckAll ? [] : _.map(this.cartList, 'id');
          },
          toggleDeletingCheck(id, selected) {
            this.deletingIds = selected ? _.concat(this.deletingIds, id) : _.without(this.deletingIds, id);
          },
          deleteSelectedCartRecord() {
            if (this.deletingIds.length === 0) {
              return;
            }
            _.forEach(this.deletingIds, id => {
              this.$store.dispatch('deleteCartRecord', id);
            });
          },
          deleteCartRecord(id) {
            this.$store.dispatch('deleteCartRecord', id);
          },
          toggleCartCheckAll() {
            this.$store.dispatch('toggleCartCheckAll', !this.isCheckAll);
          },
          updateQuantity(id, quantity) {
            this.$store.dispatch('updateCartRecord', {
              id: id,
              quantity: quantity,
            });
          },
          updateSelected(id, selected) {
            this.$store.dispatch('updateCartRecord', {
              id: id,
              selected: selected,
            });
          },
          editProductSpec(cartRecord) {
            this.editingCartRecord = cartRecord;
            this.editingCartRecord.selectedItemIds = cartRecord.option.item_ids;
            this.showSpecPicker = true;
          },
          selectProductSpec(selectedItemIds, quantity, confirm) {
            if (!confirm) {
              return;
            }
            this.editingCartRecord.selectedItemIds = selectedItemIds;
            this.editingCartRecord.quantity = quantity;
            if (this.editingCartRecord.selectedItemIds.length === 0 || this.editingCartRecord.selectedItemIds.length !== this.editingCartRecord.product.specs.length) {
              vant.showToast('请选择完整规格');
              return;
            }
            const selectedOption = util.getOptionByItemIds(this.editingCartRecord.product.options, this.editingCartRecord.selectedItemIds);
            if (this.editingCartRecord.quantity > selectedOption.stock) {
              vant.showToast('库存不足');
              return;
            }
            this.$store.dispatch('updateCartRecord', {
              id: this.editingCartRecord.id,
              quantity: this.editingCartRecord.quantity,
              option_id: selectedOption.id,
            });
            vant.showSuccessToast('修改成功');
          }
        }
      };



      // 订单页
      const orderConfirmPage = {
        template: '#orderConfirmPage',
        computed: {
          cartList() {
            return this.$store.getters.selectedCartList;
          }
        },
        methods: {
          async getBufferFromImageUrls(urls) {
            const promises = _.map(urls, url => axios.get(url, {
              responseType: 'arraybuffer',
            }));
            const results = await Promise.all(promises);
            return results.map(result => result.data);
          },
          async exportOrder() {
            const workbook = new ExcelJS.Workbook();
            const worksheet = workbook.addWorksheet('订单', {views:[{state: 'frozen', xSplit: 1, ySplit:1}]});
            worksheet.columns = [
              {
                header: '预览图',
                key: 'thumb',
                width: 30,
              },
              {
                header: '名称',
                key: 'title',
                width: 30,
              },
              {
                header: '规格',
                key: 'spec',
                width: 20,
              },
              {
                header: '单价（原价）',
                key: 'original_price',
                width: 20,
              },
              {
                header: '单价（折后价）',
                key: 'price',
                width: 20,
              },
              {
                header: '数量',
                key: 'quantity',
                width: 10,
              },
              {
                header: '小计（原价）',
                key: 'price',
                width: 20,
              },
              {
                header: '小计（折后价）',
                key: 'price',
                width: 20,
              },
            ];
            const selectedCartList = _.filter(this.cartList, cartRecord => cartRecord.selected);
            const totalSelectedQuantity = _.sum(_.map(selectedCartList, item => Number(item.quantity)));
            const totalSelectedPrice = _.sum(_.map(selectedCartList, cartRecord => Number(cartRecord.option.price) * Number(cartRecord.quantity)));
            _.forEach(selectedCartList, cartRecord => {
              const row = worksheet.addRow([
                '',
                cartRecord.product.title,
                cartRecord.option.title,
                Number(cartRecord.option.price).toFixed(2),
                Number(cartRecord.option.price * 0.3).toFixed(2),
                cartRecord.quantity,
                Number(cartRecord.option.price * cartRecord.quantity).toFixed(2),
                Number(cartRecord.option.price * 0.3 * cartRecord.quantity).toFixed(2)
              ]);
              row.height = 200;
            });
            worksheet.addRow([
              '合计',
              '',
              '',
              '',
              '',
              totalSelectedQuantity,
              Number(totalSelectedPrice).toFixed(2),
              Number(totalSelectedPrice * 0.3).toFixed(2),
            ]);
            worksheet.mergeCells(selectedCartList.length + 2, 1, selectedCartList.length + 2, 5);
            const buffers = await this.getBufferFromImageUrls(_.map(selectedCartList, cartRecord => cartRecord.product.thumb));
            _.forEach(buffers, (buffer, index) => {
              const imageId = workbook.addImage({
                buffer: buffer,
              });
              worksheet.addImage(imageId, {
                tl: { col: 0, row: index + 1 },
                br: { col: 1, row: index + 2 },
                editAs: 'undefined',
              });
            });
            workbook.xlsx.writeBuffer().then((buffer) => {
              const blob = new Blob([buffer], { type: 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet' });
              saveAs(blob, '订单.xlsx');
            });
          }
        }
      };


      
      // 商品规格选择器
      const productSpecPickerComponent = {
        template: '#productSpecPickerComponent',
        props: {
          show: {
            type: Boolean,
            default: false
          },
          product: {
            type: Object,
            default: {}
          },
          defaultItemIds: {
            type: Array,
            default: []
          },
          defaultQuantity: {
            type: Number,
            default: 0
          },
          buttonText: {
            type: String,
            default: '确定'
          }
        },
        emits: ['update:show', 'select'],
        data() {
          return {
            selectedItemIds: [],
            quantity: 1
          }
        },
        watch: {
          defaultItemIds: {
            handler(itemIds) {
              this.selectedItemIds = itemIds;
            },
            immediate: true
          },
          defaultQuantity: {
            handler(quantity) {
              this.quantity = quantity;
            },
            immediate: true
          }
        },
        computed: {
          allItems() {
            return _.flatten(_.map(this.product.specs, spec => {
              return _.map(_.cloneDeep(spec.items), item => {
                item.spec_id = spec.id;
                return item;
              });
            }));
          },
          filteredOptionPrice() {
            const filteredOptions = this.filteredOptions(this.selectedItemIds);
            return filteredOptions.length === 0 ? 0 : _.min(_.map(filteredOptions, 'price'));
          },
          filteredOptionStock() {
            const filteredOptions = this.filteredOptions(this.selectedItemIds);
            return filteredOptions.length === 0 ? 0 : _.sum(_.map(filteredOptions, 'stock'));
          }
        },
        methods: {
          filteredOptions(itemIds) {
            let filteredOptions = this.product.options;
            for (var i = 0; i < itemIds.length; i++) {
              filteredOptions = _.filter(filteredOptions, option => _.includes(option.item_ids, itemIds[i]));
            }
            return filteredOptions;
          },
          getSpecIdByItemId(itemId) {
            return _.find(this.allItems, item => item.id == itemId).spec_id;
          },
          getItemIdsBySpecId(specId) {
            return _.map(_.filter(this.allItems, item => item.spec_id == specId), 'id');
          },
          isDisabledItemId(itemId) {
            const sameSpecItemIds = this.getItemIdsBySpecId(this.getSpecIdByItemId(itemId));
            const itemIds = _.concat(_.filter(this.selectedItemIds, itemId => !_.includes(sameSpecItemIds, itemId)), itemId);
            const filteredOptions = this.filteredOptions(itemIds);
            return !_.some(filteredOptions, option => option.stock != 0);
          },
          isSelectedItemId(itemId) {
            return _.includes(this.selectedItemIds, itemId);
          },
          toggleSelectItemId(itemId) {
            if (_.includes(this.selectedItemIds, itemId)) {
              this.selectedItemIds = _.without(this.selectedItemIds, itemId);
            } else {
              if (this.isDisabledItemId(itemId)) {
                return;
              }
              const sameSpecItemIds = this.getItemIdsBySpecId(this.getSpecIdByItemId(itemId));
              this.selectedItemIds = _.concat(_.without(this.selectedItemIds, ...sameSpecItemIds), itemId);
            }
          },
          onClose() {
            this.$emit('select', this.selectedItemIds, this.quantity, false);
            this.$emit('update:show', false);
          },
          onConfirm() {
            if (this.selectedItemIds.length === 0 || this.selectedItemIds.length != this.product.specs.length) {
              vant.showToast('请选择完整规格');
              return;
            }
            const selectedOption = util.getOptionByItemIds(this.product.options, this.selectedItemIds);
            if (this.quantity > selectedOption.stock) {
              vant.showToast('库存不足');
              return;
            }
            this.$emit('select', this.selectedItemIds, this.quantity, true);
            this.$emit('update:show', false);
          }
        }
      };



      // 路由管理
      const router = VueRouter.createRouter({
        history: VueRouter.createWebHashHistory(),
        scrollBehavior(to, from, savedPosition) {
          if (savedPosition) {
            return savedPosition;
          } else {
            return { top: 0 };
          }
        },
        routes: [
          {
            path: '/',
            name: 'home',
            component: categoryListPage,
            meta: {
              pageTitle: '首页',
              pageBack: false,
              showTabBar: true,
              showBackTop: true,
            }
          },
          {
            path: '/search',
            name: 'search',
            component: searchPage,
            props: route => ({ keyword: route.query.keyword || '' }),
            meta: {
              pageTitle: '搜索',
              pageBack: true,
              showTabBar: false,
              showBackTop: false,
            }
          },
          {
            path: '/products',
            name: 'products',
            component: productListPage,
            props: route => ({
              categoryId: Number(route.query.categoryId || 0),
              keyword: route.query.keyword || '',
              sort: Number(route.query.sort || 0),
            }),
            meta: {
              pageTitle: '商品列表',
              pageBack: true,
              showTabBar: false,
              showBackTop: true,
            }
          },
          {
            path: '/products/:productId',
            name: 'product',
            component: productDetailPage,
            props: route => ({ productId: Number(route.params.productId) }),
            meta: {
              pageTitle: '商品详情',
              pageBack: true,
              showTabBar: false,
              showBackTop: false,
            }
          },
          {
            path: '/cart',
            name: 'cart',
            component: cartListPage,
            meta: {
              pageTitle: '购物车',
              pageBack: false,
              showTabBar: true,
              showBackTop: false,
            }
          },
          {
            path: '/orderConfirm',
            name: 'orderConfirm',
            component: orderConfirmPage,
            meta: {
              pageTitle: '确认订单',
              pageBack: true,
              showTabBar: false,
              showBackTop: false,
            },
            beforeEnter() {
              if (!store.getters.totalSelectedQuantity) {
                return { path: '/cart' };
              }
            }
          },
        ]
      });


      function generateUUID() {
        return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {
          var r = Math.random() * 16 | 0, v = c === 'x'? r : (r & 0x3 | 0x8);
          return v.toString(16);
        });
      }
      // 状态管理
      const store = Vuex.createStore({
        state () {
          const rawCartList = JSON.parse(localStorage.getItem('cartList') || '[]');
          const displayStyle = localStorage.getItem('displayStyle') == 'grid' ? 'grid' : 'list';
          return {
            rawCartList: rawCartList,
            displayStyle: displayStyle,
          };
        },
        getters: {
          cartList(state) {
            const rawCartList = state.rawCartList;
            return _.map(rawCartList, item => {
              const cartRecord = _.cloneDeep(item);
              cartRecord.option = _.find(cartRecord.product.options, option => option.id === cartRecord.option_id);
              return cartRecord;
            });
          },
          selectedCartList(state) {
            const rawCartList = state.rawCartList;
            return _.map(_.filter(rawCartList, item => item.selected), item => {
              const cartRecord = _.cloneDeep(item);
              cartRecord.option = _.find(cartRecord.product.options, option => option.id === cartRecord.option_id);
              return cartRecord;
            });
          },
          totalQuantity(state) {
            return _.sum(_.map(state.rawCartList, item => Number(item.quantity)));
          },
          totalSelectedQuantity(state) {
            return _.sum(_.map(state.rawCartList, item => item.selected ? Number(item.quantity) : 0));
          },
          totalSelectedPrice(state) {
            return _.sum(_.map(state.rawCartList, item => {
              if (!item.selected) {
                return 0;
              }
              const option = _.find(item.product.options, option => option.id === item.option_id);
              return Number(item.quantity) * Number(option.price);
            }));
          },
        },
        mutations: {
          toggleCartCheckAll(state, selected) {
            state.rawCartList = _.map(state.rawCartList, item => {
              item.selected = selected;
              return item;
            });
          },
          addCartRecord(state, addData) {
            if (!addData.quantity) {
              return;
            }
            const cartRecord = state.rawCartList.find(item => item.option_id === addData.option_id);
            if (cartRecord) {
              if (typeof addData.product !== 'undefined') {
                cartRecord.product = addData.product;
              }
              cartRecord.quantity += addData.quantity;
            } else {
              addData.id = generateUUID();
              addData.selected = true;
              state.rawCartList.push(addData);
            }
          },
          deleteCartRecord(state, id) {
            state.rawCartList = _.filter(state.rawCartList, item => item.id != id);
          },
          updateCartRecord(state, updateData) {
            if (!updateData.id) {
              return;
            }
            const cartRecord = state.rawCartList.find(item => item.id === updateData.id);
            if (!cartRecord) {
              return;
            }
            const fieldKeys = ['product', 'option_id', 'quantity', 'selected'];
            _.forEach(fieldKeys, fieldKey => {
              if (typeof updateData[fieldKey] !== 'undefined') {
                cartRecord[fieldKey] = updateData[fieldKey];
              }
            });
          },
          toggleDisplayStyle(state) {
            state.displayStyle = state.displayStyle === 'list' ? 'grid' : 'list';
          }
        },
        actions: {
          toggleCartCheckAll({ commit }, selected) {
            commit('toggleCartCheckAll', selected);
            localStorage.setItem('cartList', JSON.stringify(this.state.rawCartList));
          },
          addCartRecord({ commit }, addData) {
            commit('addCartRecord', addData);
            localStorage.setItem('cartList', JSON.stringify(this.state.rawCartList));
          },
          deleteCartRecord({ commit }, id) {
            commit('deleteCartRecord', id);
            localStorage.setItem('cartList', JSON.stringify(this.state.rawCartList));
          },
          updateCartRecord({ commit }, updateData) {
            commit('updateCartRecord', updateData);
            localStorage.setItem('cartList', JSON.stringify(this.state.rawCartList));
          },
          toggleDisplayStyle({ commit }) {
            commit('toggleDisplayStyle');
            localStorage.setItem('displayStyle', this.state.displayStyle);
          }
        }
      });



      const app = Vue.createApp({
          data() {
            return {};
          },
          methods: {
            backPage() {
              if (this.$router.options.history.state) {
                this.$router.back();
              } else {
                this.$router.push('/');
              }
            }
          }
        })
        .use(vant)
        .use(vant.Lazyload, { lazyComponent: true })
        .use(router)
        .use(store)
        .component('productSpecPicker', productSpecPickerComponent)
        .mount("#app");
    </script>
  </body>
</html>
